body{
    text-align: center;

}
.form{
    width: 400px;
    height: 200px;
    margin: auto;
    display: flex;
justify-content: center;
    flex-direction: column;
    margin-top: 55px;
    margin-bottom: 40px;
}
input{
    height: 25px;
    width: 150px;
    margin-bottom: 10px;
    margin-left: 30%
}